* {
	margin: 0;
	padding: 0;
}
html{
	background-color: gold;
}
main {
	width: 100%;
	margin: 0 auto;
	background-color: lightblue;
}
h1{
	font-size: 10vw;
	text-align: center;
	border-bottom: 2px solid darkgrey;
	margin-top: 0%;
}
ul{
	list-style: none;
}
#score{
	width: 30%;
	margin-left: 35%;
	float: left;
	font-size: 2em;
}
#game{
	width: 30%;
	margin-left: 32%;
	float: left;
}
#upgrades{
	float: left;
	list-style: none;
}
#clickerbutton {
	font-size: 4em;
	width:15vw;
	height:10vw;
	border-radius: 100px;
	background-image: url('MinTwixps.png');
	
	background-position: center center;
	background-size: 180%;
	background-color: gold;
	background-repeat: no-repeat;
}
#clickerbutton:after{
	content: "";
	padding-bottom: 100%;
}

#clickerbutton:active {
	background-color: white;
	background-size: 175%;
	background-position: center center;
}
#lejon, #zebra, #krokodil, #lejonBuy, #bonus {
	width: 70%;
	height: 40px;
	border-radius: 10px;

}
#lejon, #zebra, #clickerbutton, #score, #game, #powerUps, #Uppgradering, #bonus{
	text-align: center;
}
#lejonBuy{
	display: none;
}
.power{
	background-color: grey;
	width: 30%;
}
#clickerbutton:focus, #lejon:focus, #zebra:focus, #krokodil:focus, #bonus:focus {
	outline: 0px;
}
#powerUps{
	padding: 0px;
	width: 100%;

}
.column1 {
    float: left;
    width: 30%;
    height: 50vh; 
    background-color: grey;
}
.column2{
    float: left;
    width: 39.79%;
    height: 100vh;
    margin-left: 0%;
	border-left: 0.1vw solid black;
	border-right: 0.1vw solid black;
	background-color: lightblue;
}
.column3{
    float: left;
    width: 30%;
    height: 50vh; 
    background-color: grey;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2{
	text-align: center;
	font-size: 4em;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*.lejon{
	width: 70%;
	float: left;
}
.zebra{
	width: 70%;
	float: left;
}
.krokodil{
	width: 70%;
	float: left;
}*/